:root {
  --iq-bg-light-color: #d1d1d1;
  --iq-bg-dark-color: #1d203f;
  --iq-primary: #083696;
  --iq-primary-light: #0e932a;
  --iq-primary-dark: #6b69d2;
  --iq-secondary: #a09e9e;
  --iq-secondary-light: #c1c1c1;
  --iq-secondary-dark: #7d7d7d;
  --iq-success: #45ce62;
  --iq-success-light: #45ce62;
  --iq-success-dark: #3dbb58;
  --iq-warning: #ffd369;
  --iq-warning-light: #ffd369;
  --iq-warning-dark: #fbc647;
  --iq-danger: #fd6256;
  --iq-danger-light: #fd6256;
  --iq-danger-dark: #f35448;
  --iq-info: #6ce6f4;
  --iq-info-light: #6ce6f4;
  --iq-info-dark: #67ddea;
  --iq-dark: #3f414d;
  --iq-light: #e9edf4;
  --iq-white: #fff;
  --iq-black: #000;
  --iq-color-white: #ffffff;
  --iq-color-black: #252549;
}
.iq-top-navbar {
  background: #d1d1d1 !important;
}

.iq-sidebar-menu .iq-menu .iq-submenu {
  background: #d1d1d1 !important;
}

[dir="ltr"] .iq-sidebar-menu .iq-menu li ul li a {
  color: #0a0a0a !important;
  padding: 12px 20px;
}
